<footer>
  <span>
    &copy; {new Date().getFullYear()} Your Blog.
    Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>.
    Template by <a href="https://codeberg.org/redwerkz" target="_blank" rel="noopener">Redwerkz</a>.
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .85em;
    margin: 1em auto;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
